<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-3" >
       <img maxlength="80px" class="img-responsive" src="https://media.licdn.com/dms/image/C5103AQGuch913vbu7A/profile-displayphoto-shrink_200_200/0?e=1534982400&v=beta&t=AS2z_J9AOut0XRu_EKWFNSVLeRDPYmCW7Pgk5XEIYsk">
      <div class="form-group" >
        <h3>Viraj Nimbalkar</h3>
        <h4 >
          <hr>
          Master in Computer Science
          State University of New York at Binghamton
          <br>(May 2015 - May 2017)


        </h4>
      </div>
      </div>
        <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <h2>Recipe Book</h2>
        <hr>
        <h3>
        Used Technologies: Angular2, FireBase
         </h3>
        Welcome to Recipe Book.<br><br>
        Designed and created a recipe book which contains different recipes.<br><br>
        Functionality to add the ingredients of recipe in shopping cart.<br><br>
        Also facilitated storing and fetching of recipes in Firebase databse.<br><br>
        Applied concepts of angular2 like Components, Services, Dependency Injection,
        Observables, Directives, Routing, Lazy Loading.
        </div>



  </div>
  </div>
</div>
